.container{
    width:70%;
    height:350px;
    text-align:center;
}
.selection{
   position:relative;
}
.selection .picture{
    width:50%;
    height:350px;
    position:absolute;
    display:none;
}
.container .selection .active{
    display:block;
}
.box{
    width:10px;
    height:10px;
    background:#ccc;
    position:inherit;
    float:left;
    top:320px;
    left:300px;
    margin:5px;    
}